<!doctype html>
<html ng-app="salesApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="javascripts/controllers.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="stylesheets/application.css">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Monthly Sales Figures</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>

      <div ng-controller="SalesCtrl">
        <table class="table table-striped">
             <tr ng-repeat="sale in sales">
              <td>{{sale.division}}</td>
              <td>{{sale.sales | currency}}</td>
            </tr>
        </table>

        <form class="form-inline" role="form" ng-submit="addSalesData()">
          <div class="form-group">
            <label class="sr-only" >Division</label>
            <input type="text" ng-model="newSale.division" class="form-control" placeholder="Division">
          </div>
          <div class="form-group">
            <label class="sr-only" >Sales</label>
            <input type="number" ng-model="newSale.sales" class="form-control" placeholder="Sales Amount">
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
      </div>
    </div><!-- /.container -->

  </body>
</html>
